<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {{include './common/head.html'}}
    <link href="./css/login.css" rel="stylesheet">
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <script src="/js/login.js"></script>
</head>
<body>
{{include './common/header.html'}}
    <div class="login-page">
        <form class="login-form" id="loginForm" action="/login" method="post">
            <h1 class="login-form-title">用户登录</h1>
            <div class="alter-error"></div>
            <div class="form-group top-group">
                <input type="text" name="userName" placeholder="请输入用户名">
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="请输入密码">
            </div>
            <div class="login-btn-box">
                <input type="button" value='登录' class="login-btn" id="postBtn">
            </div>
            <div class="form-footer-link">
                <a href="/register">注册账号</a>
            </div>
        </form>
    </div>
    {{include './common/footer.html'}}
</body>
</html>