<footer class="ui-footer">
    <div class="ui-content">
        <ul class="coBox">
            <li>
                <div class="contactMeBox">
                    <p class="title">联系我</p>
                    <p class="tag">邮箱:<a href="#">705597001@qq.com</a></p>
                    <p class="tag">手机:<a href="#">15238****27</a></p>
                </div>
            </li>
            <li>
                <div class="myWeChatBox"><img src="https://git.oschina.net/cleverqin/img/raw/master/mmqrcode.png"><img src="https://git.oschina.net/cleverqin/img/raw/master/myAliPay.png"></div>
            </li>
        </ul>
        <div class="bottomBox">备注：本网站所有权归创作者所有，如有疑问请联系作者。</div>
    </div>
</footer>
<script src="/libs/js/sweetalert.min.js"></script>